@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

header {
    font-family: 'Monoton';
    color: goldenrod;
    font-weight: 500;
    font-size: 60px;
    word-spacing: 10px;  
    text-align: center; 
}

.container-1 {
    display:flex;
    justify-content: space-evenly;

}
body {
    background-color: black;
   color:  rgba(224, 1, 1, 0.479);
   text-align: center;
}

.photos {
    width: 150px;
    height: 200px;

}

.albus {
    width: 300px;
    height:300px;
    align-self: auto;

}

h4 {
    max-width: 150px;
}

    
    
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    padding: 10px;
}

p {
    max-width: 150px;
}

.card {
    padding: 20px;
    max height: 150px
}





