
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

body {
    background-color: black;
    color: black;
}

header {
    font-family: 'Monoton';
    color: goldenrod;
    font-weight: 500;
    font-size: 60px;
    word-spacing: 10px;  
    text-align: center; 
}

h3 {
    color: white;
    text-align: center;
    font-family: cursive;
   }
   

#school-photo {
    height: 620px;
    width: 640px;
    margin: 5%;
}

.button {
    width: 140px;
    color: green;
    border-radius: 5%;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    background-color: white;
    text-align: center;
}


.button-2 {
    width: 140px;
    color: green;
    border-radius: 5%;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    background-color: white;
    text-align: center;

}

.butts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.container-1 {
    display:flex;
    justify-content: space-evenly;
   


}

.container-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 30px;
}

.left-right {
    display: flex;
    justify-content: space-evenly;
}


















